<div class="span9">
  <h1>Listing posts</h1>

  <table>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <div style="vertical-align: middle;">          
            <p>upvote</p>
            <p><%= post.upvotes - post.downvotes %></p>
            <p>downvote</p>
          </div>
        </td>
        <td> </td>
        <td><%=raw BlueCloth.new(post.text).to_html %></td>
      </tr>
    <% end %>
  </table>
</div>


<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>
      <li><%= link_to 'New Post', new_post_path %></li>      
    </ul>
  </div>
</div>

