<div class="span9">
  
  <table class="table">
    <% @posts.each do |post| %>
      <tr>
        <td>
          <div style="vertical-align: middle;">          
            <p>upvote</p>
            <p><%= post.upvotes - post.downvotes %></p>
            <p>downvote</p>
          </div>
        </td>
        <td> </td>
        <td>
          <div style="vertical-align: left;">
            <div>
              <%=raw BlueCloth.new(post.text).to_html %>
            </div>
            <div>
              by <strong><%= post.user.username %></strong>
            </div>
          </div>
        </td>
      </tr>      
    <% end %>
  </table>
</div>


<div class="span3">
  <% if user_signed_in? %>
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">New Post</li>
        <%  @post = Post.new
            @post.user = current_user
            @post.upvotes = 0
            @post.downvotes = 0          
         %>
        <%= render 'form' %>
      </ul>
    </div>  
  <% end -%>
</div>

